name: cron script

on:
  schedule:
    - cron: "0 1 * * *"
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "18"

      - name: Install hysteria2 client
        run: |
          curl -fsSL https://get.hy2.sh/ | sudo bash
          which hysteria || sudo ln -s /usr/local/bin/hysteria /usr/bin/hysteria
          hysteria version

      - run: npm install tsx -g
      - run: npm install pnpm@7 -g
      - run: pnpm install

      - name: Run script
        run: tsx src/index.ts
        env:
          SUB_URL: ${{ secrets.SUB_URL }}
          HY2_CONFIG: ${{ secrets.HY2_CONFIG }}
          HY2_SUB_URL: ${{ secrets.HY2_SUB_URL }}
          OSS_ACCESS_KEY_ID: ${{ secrets.OSS_ACCESS_KEY_ID }}
          OSS_ACCESS_KEY_SECRET: ${{ secrets.OSS_ACCESS_KEY_SECRET }}
          NEED_ONLY_HY2: ${{ secrets.NEED_ONLY_HY2 }}
          CLASH_ADDITIONAL_RULES: ${{ secrets.CLASH_ADDITIONAL_RULES }}
